body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #F0E68C;
    text-align: center;
    padding: 20px;
}

nav {
    background: #333;
    color: #fff;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 20px;
}

section h2 {
    font-size: 24px;
}

ul {
    list-style: disc;
}

.image {
    margin: 10px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
